<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Contacts App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    footer {
      text-align: center;
      background-color: #f0f0f0;
/*      padding: 10px;*/
      margin-top: auto;
    }
</style>
</head>
<body style="background-color:#4DB6AC;">
<nav class="navbar navbar-light" style="background-color:#FF0033;">
    <a href="#" class="navbar-brand" style="background-color:#FFCC33;color:#000000;border-width:10px;border-color:#FFCC33;border-style:solid;border-spacing:30px;border-radius: 5px;">Contacts App</a>
    <a class="navbar-link btn-lg" href="{% url 'index' %}" style="background-color:#FFCC33;color:#000000;">Contacts</a>
    <a href="{% url 'upload-contact' %}" class="navbar-link btn-lg" style="background-color:#FFCC33;color:#000000;">Create Contact</a>
</nav>
<br>
{% block content %}
<div class="card-columns">
    {% for contact in shelf %}
    <div class="card" style="width: 22rem;">
  <div class="card-body">
    <h5 class="card-title">{{ contact.name }}</h5>
    <p class="card-text"><b>Email </b>: {{ contact.email }}</p>
    <p class="card-text"><b>Notes </b>: {{ contact.notes }}</p>
    <p class="card-text"><b>Created Time</b> : {{ contact.created_at }}</p>
   <div class="card-footer bg-transparent border-dark">
   <center>
       <a href="update/{{contact.id}}" class="btn btn-warning" id = '{{contact.id}}'>Edit</a>
       <a href="delete/{{contact.id}}" class="btn btn-danger" id = '{{contact.id}}'>Delete</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}

<footer>
  <p>&copy;Created by Hari Haran Dhulipala</p>
</footer>

</body>
</html>